<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <button>
      <a href="/"> Go back home </a>
    </button>
    <h1><%= title %></h1>
    <ul style="display: flex; flex-direction: column; gap: 10px">
      <% genres.forEach((genre) => { %>
      <li style="display: flex; flex-direction: column; gap: 5px">
        <p style="color: blueviolet; margin: 0px"><%= genre.name %></p>
        <p style="margin: 0px">Description : <%= genre.description %></p>
      </li>

      <%})%>
    </ul>
  </body>
</html>
