<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Inventory application</title>
  </head>
  <body>
    <h1>Inventory application by <%= admin %></h1>
    <ul>
      <li>
        <button>
          <a href="/developers"> Developers </a>
        </button>
      </li>
      <li>
        <button>
          <a href="/games"> Games </a>
        </button>
      </li>
      <li>
        <button>
          <a href="/genres"> Genres </a>
        </button>
      </li>
    </ul>
  </body>
</html>
